:root{
    ---principal:#13315c;
    ---background:#8da9c4 ;
    ---secundario:#0b2545;
    ---tersiario:#134074;
    ---letras:#ffff;
    ---fondos:#140b2f;
    ---letras2:#494949;

}

*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header{
    background: var(---tersiario);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 6px 65px;
}
.logo{
    height: 40%;

}

.navbar{
    gap: 100px;
}

.navbar, .navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar, .navbar-list{
    gap:20px ;
}

.navbar-list li a{
    text-decoration: none;
    color: var(---letras);
    
}


    /*HERO GAMER*/

#hero{
    background: var(---fondos);
    display: flex;
    padding-top:20px;
    color: var(---letras);
    gap: 20px;
    text-align: center;
    padding: 30px;
    height: 100%;

}


.hero-div > h3{
    display: flex;
    font-size: 20px;
    text-align: end;
    height:50px;
    justify-content: center;
}

.hero-div > a{
    background:var(---tersiario);
    color: var(---letras);
    border-radius: 10px 10px 10px 10px;
    padding:20px;
    text-align: center;
    font-size: 15px;

    margin-top: 25px;

}


.fotter{
    background: var(---secundario);
    color:var(---letras2);
    display: flex;

    padding: 50px;
    text-align: center;

}